![cover](cover/02.%20Series.png)

#### Outline
* Creating a Series
* Updating a Series
* Accessing a Series
* Series Operations

##### Import Pandas

In [1]:
import pandas

### Creating a Series
`pandas.Series(list)`

Creates a series

In [2]:
series1 = pandas.Series([2,4,15,16,23,32])
print(series1)

0     2
1     4
2    15
3    16
4    23
5    32
dtype: int64

#### Empty
`pandas.Series([])`

Creates a series with no elements

In [3]:
empty_series = pandas.Series([])
print(empty_series)

Series([], dtype: object)

#### Scalar
`pandas.Series(n)`

Creates a series with identical values

In [4]:
scalar_series = pandas.Series(5)
print(scalar_series)

0    5
dtype: int64

In [5]:
scalar_series2 = pandas.Series(5, index={0,1,2,3,4})
print(scalar_series2)

0    5
1    5
2    5
3    5
4    5
dtype: int64

### Updating a Series

#### Index
`index=[]`

Allows you to change the index of the series to something else

In [6]:
series2 = pandas.Series([1,2,3], index=['a','b','c'])
print(series2)

a    1
b    2
c    3
dtype: int64

#### dtype
`dtype=`

Allows you to change the data type stored within the series, will perform type casting when possible

In [7]:
series3 = pandas.Series([2,4,6,8], dtype=float)
print(series3)

0    2.0
1    4.0
2    6.0
3    8.0
dtype: float64

In [8]:
# error_series1 = pandas.Series(['a','b','c'], dtype=int)
# the code above would yield an error as the characters 'a', 'b' and 'c' cannot be type cast into integers

#### column name
`name=""`

Changes the name of the column in the series

In [9]:
series4 = pandas.Series([4,6,9,3], name="numbers")
print(series4)

0    4
1    6
2    9
3    3
Name: numbers, dtype: int64

### Accessing a Series

#### Index
`series[i]`

Allows you to access a particular element at an index `i`

In [10]:
print(series1)

0     2
1     4
2    15
3    16
4    23
5    32
dtype: int64

In [11]:
print(series1[3])

16

In [12]:
print(series2)

a    1
b    2
c    3
dtype: int64

In [13]:
print(series2['b'])

2

#### Slicing
`series[start:end:step_by]`

Allows you to select multiple items from the series following particular rules

In [14]:
print(series3)

0    2.0
1    4.0
2    6.0
3    8.0
dtype: float64

In [15]:
print(series3[1:3])

1    4.0
2    6.0
dtype: float64

In [16]:
print(series3[::2])

0    2.0
2    6.0
dtype: float64

### Series Operations

#### max
`max(series)`

Returns the largest element in the series

In [17]:
print(series4)

0    4
1    6
2    9
3    3
Name: numbers, dtype: int64

In [18]:
print(max(series4))

9

#### min
`min(series)`

Returns the smallest element in the series

In [19]:
print(min(series4))

3

#### compare
`series[series == n]`</br></br>
`series[series != n]`</br></br>
`series[series >= n]`</br></br>
`series[series <= n]`</br></br>
`series[series > n]`</br></br>
`series[series > n]`</br></br>

Allows you to select elements that fulfil a particular conditional expression

In [20]:
print(series1)

0     2
1     4
2    15
3    16
4    23
5    32
dtype: int64

In [21]:
print(series1[series1 > 15])

3    16
4    23
5    32
dtype: int64

In [22]:
print(series1[series1 == 4])

1    4
dtype: int64

#### add
`series_1 + series_2`

Performs addition with elements at index `i` from both series

In [23]:
print(series3)
print(series4)

0    2.0
1    4.0
2    6.0
3    8.0
dtype: float64
0    4
1    6
2    9
3    3
Name: numbers, dtype: int64

In [24]:
series5 = series3 + series4
print(series5)

0     6.0
1    10.0
2    15.0
3    11.0
dtype: float64

In [25]:
print(series1)

0     2
1     4
2    15
3    16
4    23
5    32
dtype: int64

In [26]:
print(series1 + series4)

0     6.0
1    10.0
2    24.0
3    19.0
4     NaN
5     NaN
dtype: float64

### For Source code:
https://sites.google.com/view/aorbtech/programming/

#### @Aorb Tech