![replace value](cover/07.%20Replace%20Values.png)

#### Outline:
- replace value
- regex
- method
    - ffill
    - bfill
- limit
- inplace

#### Replace Value
Changing existing values in a DataFrame or Series with new values.

In [ ]:
# import library
import pandas as pd
import numpy as np

In [18]:
### import dataset
df = pd.read_csv('datasets/HousePrice Data.csv')
df

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       NaN   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       NaN   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

In [13]:
df.replace(to_replace='City Center', value= 'city')

  House_ID Location  Area_sqft  Bedrooms  Price_USD
0       H1     city     1200.0       3.0   250000.0
1       H2   Suburb     1800.0       4.0   320000.0
2       H3    Rural      950.0       NaN   180000.0
3       H4     city     2000.0       5.0        NaN
4       H5   Suburb        NaN       3.0   270000.0
5       H6    Rural     1100.0       2.0   200000.0
6       H7   Suburb     1750.0       NaN   310000.0
7       H8     city     1600.0       4.0   295000.0
8       H9    Rural        NaN       3.0   190000.0
9      H10   Suburb     1400.0       2.0        NaN

In [14]:
df.replace(to_replace=np.nan, value=0)

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       0.0   180000.0
3       H4  City Center     2000.0       5.0        0.0
4       H5       Suburb        0.0       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       0.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        0.0       3.0   190000.0
9      H10       Suburb     1400.0       2.0        0.0

In [15]:
df.replace(950.0, 980.0)

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      980.0       NaN   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       NaN   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

In [16]:
df

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       NaN   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       NaN   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

In [19]:
df['Bedrooms'] = df['Bedrooms'].replace(np.nan, 3)
df

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       3.0   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       3.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

### Regex
Regular expression used to replace the specific char in string

In [21]:
df

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       3.0   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       3.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

In [22]:
df.replace('r', 'RR', regex=True)

  House_ID      Location  Area_sqft  Bedrooms  Price_USD
0       H1  City CenteRR     1200.0       3.0   250000.0
1       H2       SubuRRb     1800.0       4.0   320000.0
2       H3        RuRRal      950.0       3.0   180000.0
3       H4  City CenteRR     2000.0       5.0        NaN
4       H5       SubuRRb        NaN       3.0   270000.0
5       H6        RuRRal     1100.0       2.0   200000.0
6       H7       SubuRRb     1750.0       3.0   310000.0
7       H8  City CenteRR     1600.0       4.0   295000.0
8       H9        RuRRal        NaN       3.0   190000.0
9      H10       SubuRRb     1400.0       2.0        NaN

In [27]:
df.replace("1", "one", regex=True)

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0     Hone  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       3.0   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       3.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9    Hone0       Suburb     1400.0       2.0        NaN

In [28]:
df.dtypes

House_ID      object
Location      object
Area_sqft    float64
Bedrooms     float64
Price_USD    float64
dtype: object

In [29]:
df.replace(1, "one", regex=True)

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       3.0   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       3.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

In [30]:
df

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       3.0   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       3.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

In [31]:
df.replace("1", "one", regex=False)

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       3.0   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       3.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

#### Methods
forward fill (replace previous value with forward value) 

backward fill (replace forward value with previous value)

In [34]:
df.replace("Rural", method='ffill')  # forward fill

C:\Users\Guest\AppData\Local\Temp\ipykernel_24564\3267584485.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace("Rural", method='ffill')  # forward fill

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3       Suburb      950.0       3.0   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6       Suburb     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       3.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9  City Center        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

In [35]:
df

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       3.0   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       3.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

In [36]:
df.replace("H4", method='bfill')  # backward fill

C:\Users\Guest\AppData\Local\Temp\ipykernel_24564\2921898923.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace("H4", method='bfill')  # backward fill

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       3.0   180000.0
3       H5  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       3.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

In [37]:
df.replace(np.nan, method='ffill')

C:\Users\Guest\AppData\Local\Temp\ipykernel_24564\3212863475.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace(np.nan, method='ffill')

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       3.0   180000.0
3       H4  City Center     2000.0       5.0   180000.0
4       H5       Suburb     2000.0       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       3.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural     1600.0       3.0   190000.0
9      H10       Suburb     1400.0       2.0   190000.0

### Inplace

In [53]:
df

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3            0      950.0       3.0   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6            0     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       3.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9            0        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

In [56]:
df.replace(np.nan, method='ffill', inplace=True)

C:\Users\Guest\AppData\Local\Temp\ipykernel_24564\4273012931.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace(np.nan, method='ffill', inplace=True)

In [57]:
df

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3            0      950.0       3.0   180000.0
3       H4  City Center     2000.0       5.0   180000.0
4       H5       Suburb     2000.0       3.0   270000.0
5       H6            0     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       3.0   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9            0     1600.0       3.0   190000.0
9      H10       Suburb     1400.0       2.0   190000.0

### For Source code:
https://sites.google.com/view/aorbtech/programming/

### @Aorb Tech