![iloc and loc](cover/09.%20iloc%20and%20loc.png)

#### Outline
- loc
- iloc

In pandas, loc and iloc are two powerful indexers used to select data from a DataFrame

#### Loc
Label-based indexing

i.e You use row and column labels (names) to filter data.

In [1]:
# import library
import pandas as pd

In [5]:
df = pd.read_csv('datasets/HousePrice Data.csv')
df

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       NaN   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       NaN   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

In [6]:
df.loc[:, 'Price_USD']

0    250000.0
1    320000.0
2    180000.0
3         NaN
4    270000.0
5    200000.0
6    310000.0
7    295000.0
8    190000.0
9         NaN
Name: Price_USD, dtype: float64

In [7]:
df.loc[:5, ['House_ID', 'Area_sqft', 'Location', 'Bedrooms']]

  House_ID  Area_sqft     Location  Bedrooms
0       H1     1200.0  City Center       3.0
1       H2     1800.0       Suburb       4.0
2       H3      950.0        Rural       NaN
3       H4     2000.0  City Center       5.0
4       H5        NaN       Suburb       3.0
5       H6     1100.0        Rural       2.0

In [8]:
df.loc[1:5, ['House_ID', 'Area_sqft', 'Location', 'Bedrooms']]

  House_ID  Area_sqft     Location  Bedrooms
1       H2     1800.0       Suburb       4.0
2       H3      950.0        Rural       NaN
3       H4     2000.0  City Center       5.0
4       H5        NaN       Suburb       3.0
5       H6     1100.0        Rural       2.0

In [9]:
df.loc[[1, 3, 5, 7, 9], ['House_ID', 'Area_sqft', 'Location', 'Bedrooms']]

  House_ID  Area_sqft     Location  Bedrooms
1       H2     1800.0       Suburb       4.0
3       H4     2000.0  City Center       5.0
5       H6     1100.0        Rural       2.0
7       H8     1600.0  City Center       4.0
9      H10     1400.0       Suburb       2.0

#### iloc
Integer-based indexing

i.e You use row and column positions (like slicing in NumPy)

In [10]:
df

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       NaN   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0
5       H6        Rural     1100.0       2.0   200000.0
6       H7       Suburb     1750.0       NaN   310000.0
7       H8  City Center     1600.0       4.0   295000.0
8       H9        Rural        NaN       3.0   190000.0
9      H10       Suburb     1400.0       2.0        NaN

In [11]:
df.iloc[:, 4]

0    250000.0
1    320000.0
2    180000.0
3         NaN
4    270000.0
5    200000.0
6    310000.0
7    295000.0
8    190000.0
9         NaN
Name: Price_USD, dtype: float64

In [12]:
df.iloc[:, -1]

0    250000.0
1    320000.0
2    180000.0
3         NaN
4    270000.0
5    200000.0
6    310000.0
7    295000.0
8    190000.0
9         NaN
Name: Price_USD, dtype: float64

In [13]:
df.head()

  House_ID     Location  Area_sqft  Bedrooms  Price_USD
0       H1  City Center     1200.0       3.0   250000.0
1       H2       Suburb     1800.0       4.0   320000.0
2       H3        Rural      950.0       NaN   180000.0
3       H4  City Center     2000.0       5.0        NaN
4       H5       Suburb        NaN       3.0   270000.0

In [16]:
df.iloc[:, 0:4]

  House_ID     Location  Area_sqft  Bedrooms
0       H1  City Center     1200.0       3.0
1       H2       Suburb     1800.0       4.0
2       H3        Rural      950.0       NaN
3       H4  City Center     2000.0       5.0
4       H5       Suburb        NaN       3.0
5       H6        Rural     1100.0       2.0
6       H7       Suburb     1750.0       NaN
7       H8  City Center     1600.0       4.0
8       H9        Rural        NaN       3.0
9      H10       Suburb     1400.0       2.0

In [18]:
df.iloc[1:6, [1, 3]]

      Location  Bedrooms
1       Suburb       4.0
2        Rural       NaN
3  City Center       5.0
4       Suburb       3.0
5        Rural       2.0

### For Source code:
https://sites.google.com/view/aorbtech/programming/

### @Aorb Tech