![cover](cover/12.%20Concatenation.png)

#### Outline

* Concat Function
* Ignore Index
* Axis
* Join
  * Inner
  * Outer
* Keys
* Sort

### Concatenation

This function allows us to stack, multiple pandas objects, such as series and dataframes, into a single object. Below is a diagram demonstrating how two objects can be stacked into a single object, depending on the `axis` parameter:

**figure 1** 

*concat() function demonstration*

<img src="diagrams/concat_axis.png" alt="pivot table" width="700">

*A diagram depicting the concat() function applied to two objects on axis' 0 and 1, on the right: both stacked horizontally, and vertically*

##### Import Pandas

In [1]:
import pandas

##### Import Datasets

In [2]:
students = pandas.read_csv('./datasets/students.csv')
language_learners = pandas.read_csv('./datasets/language_learners.csv')

### concat()

`pandas.concat([a,b,...,n])`

This function allows us to merge multiple pandas objects, such as series or dataframes, into a single object

* Series
* DataFrame

#### Series

#### Dataframes

#### Change Positions

### ignore_index

`pandas.concat(ignore_index = True)`

Will ignore the index of the original objects and use an axis of [`0`, `n-1`] for the indices of the new object

### axis
`pandas.concat(axis = n)` \- where `n` can be `0`, or `1`

Changes the axis upon which we concatenate along

### join
`pandas.concat(join = '')`

Determines whether to use union (`outer`) or intersection (`inner`) on the columns (`axis=0`) or rows (`axis=1`) of data

In [3]:
# dataframe 1
df1 = pandas.DataFrame({
    'A' : [1, 2],
    'B' : [3, 4]
})

# dataframe 2
df2 = pandas.DataFrame({
    'B' : [5, 6],
    'C' : [7, 8]
})

#### Inner

#### Outer

### Keys
`pandas.concat(keys=['', '',...,''])`

Allows us to label the individual objects of the concatenation

### Names
`pandas.concat(names = ['', '',...,''])`

Allows us to label the MultiIndex levels

### Sort
Decides whether to keep the original order of columns before concatenation, or to sort them lexicographically

In [4]:
# dataframe 1
df1 = pandas.DataFrame({
    'A' : [1, 2],
    'C' : [3, 4]
})

# dataframe 2
df2 = pandas.DataFrame({
    'B' : [5, 6]
})

### For Source code:
https://sites.google.com/view/aorbtech/programming/

#### @Aorb Tech